<!DOCTYPE html>
<html lang="en">
<body>
<footer>
    <% var localeData=require('../locale/locale.js') %>
    <div class="container-fluid pr-0 pl-0">
        <div class="logo">
            <img src="<%= require('../images/img-banner_logo.png')%>" alt="">
        </div>
        <div class="contact">
            <div class="row ml-0 mr-0">
                <p class="col-12"><%= localeData[data.locale]['aboutUs'] %></p>
                <p class="col-12">WECHAT：+86 15869177510</p>
                <p class="col-12">SKYPE：+86 18657861297</p>
                <p class="col-12 col-md-6">Email：shudan@ftc1688.com</p>
                <p class="col-12 col-md-6">Whatsapp：+86 186 5786 1297</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>

